JUNMIN/*.csv
JOB_OUTPUTS/*

MAG_FILES/GenderedCitationsPerYear.csv
MAG_FILES/GenderedCitationsPerYear.csv
MAG_FILES/CitationsByDisciplineAndYear*

MATCHING_OUTPUTS/*
JOB_OUTPUTS/*.out
EVALUATIONS_OUTPUTS/job.*.out

__pycache__/*
Evaluations/__pycache__/*
Evaluations/lenskit/__pycache__/*
Evaluations/lenskit/*/__pycache__/*

Evaluations/chemistry.csv
Evaluations/chemistry2020.csv
Evaluations/economics.csv
Evaluations/economics2020.csv
Evaluations/mathematics.csv
Evaluations/mathematics2020.csv
Evaluations/propublica.csv
Evaluations/psychology.csv
Evaluations/psychology2020.csv

ChemistrySlices2020.csv
EconomicsSlices2020.csv
PsychologySlices2020.csv
MathematicsSlices2020.csv