JUNMIN/*.csv
MAG_FILES/CitationsByDisciplineAndYear*
JOB_OUTPUTS/*
MAG_FILES/GenderedCitationsPerYear.csv
MATCHING_OUTPUTS/*
Evaluations/lenskit/batch/__pycache__/*.pyc
MAG_FILES/GenderedCitationsPerYear.csv
JOB_OUTPUTS/*.out
Evaluations/lenskit/metrics/__pycache__/dataGenerator.cpython-38.pyc
EVALUATIONS_OUTPUTS/job.*.out
Evaluations/lenskit/metrics/__pycache__/topnFair.cpython-38.pyc
Evaluations/__pycache__/Evaluator.cpython-38.pyc
MATCHING_OUTPUTS/Psychology_seed12_matched.csv

__pycache__/*
Evaluations/__pycache__/*
Evaluations/lenskit/__pycache__/*
Evaluations/lenskit/*/__pycache__/*

Evaluations/chemistry.csv
Evaluations/chemistry2020.csv
Evaluations/economics.csv
Evaluations/economics2020.csv
Evaluations/mathematics.csv
Evaluations/mathematics2020.csv
Evaluations/propublica.csv
Evaluations/psychology.csv
Evaluations/psychology2020.csv
